<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <title>Matador de Monstro</title>
  <link rel="stylesheet" href="style.css">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,600;1,400&display=swap" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" ></script>
</head>
<body>
  <div id="app">
    <div class="panel scores">
      <div class="score">
        <h1>Jogador</h1>
        <div class="life-bar">
          <div class="life"
            :class="{ danger: playerLife < 20 }"
            :style="{ width: playerLife + '%' }"></div>
        </div>
        <div>{{ playerLife }}%</div>
      </div>
      <div class="score">
        <h1>Monstro</h1>
        <div class="life-bar">
          <div class="life"
            :class="{ danger: monsterLife < 20 }"
            :style="{ width: monsterLife + '%' }"></div>
        </div>
        <div>{{ monsterLife }}%</div>
      </div>
    </div>

    <div v-if="hasResult"
      class="panel result">
      <div v-if="monsterLife === 0"
        class="win">Você ganhou!!! :)</div>
      <div v-else
        class="lose">Você perdeu... :(</div>
    </div>

    <div class="panel buttons">
      <template v-if="running">
        <button class="btn atack" @click="attack(false)">Ataque</button>
        <button class="btn special-atack" @click="attack(true)">Ataque especial</button>
        <button class="btn heal" @click="healAndHurt()">Curar</button>
        <button class="btn give-up" @click="running = false">Desistir</button>
      </template>
      <button v-else class="btn new-game" @click="startGame()">Iniciar jogo</button>
    </div>

    <div v-if="logs.length"
      class="panel logs">
      <ul>
        <li v-for="log in logs"
          :class="log.cls" class="log">
          {{ log.text }}
        </li>
      </ul>
    </div>
  </div>
  <script src="app.js"></script>
</body>
</html>